@import "./variable.scss";

h1 {
    color: $primary_color;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/A_View_of_Chongqing_Central_Business_District.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-custom-primary {
    background-color: $primary_color;    
}

.bg-custom-secondary {
    background-color: $secondary_color;    
}

.bg-custom-terttiary {
    background-color: $tertiary_color;    
}

.primary-color {
    color: $primary_color;
}

.secondary-color {
    color: $secondary_color;
}

.tertiary-color {
    color: $tertiary_color;
}

.task-title {
    font-size: 20px;
    background-color: $primary_color;
    color: $secondary_color;
    font-weight: bold;
    padding: 0;
    border-radius: 0.3rem;
}

.main-title {
    background-color: $primary_color;
    color: $secondary_color;
    margin-bottom: 40px;
    font-weight: bold;
}

.list-content {
    flex: 0 0 27rem;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
    padding: 0;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.margin-left {
    margin-left: 10px;
}