@import "./variable.scss";

h1 {
    color: $primary_color;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/A_View_of_Chongqing_Central_Business_District.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #172b4d;
//    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bg-custom-primary {
    background-color: $primary_color;    
}

.grey {
    color: rgb(151, 151, 151);
}

.bg-custom-secondary {
    background-color: $secondary_color;    
}

.bg-custom-terttiary {
    background-color: $tertiary_color;    
}

.card-content {
    margin: 10px;
    border-radius: 3px;
}

.new-task-footer {
    display: block;
    width: 100%;
}

input {
    outline: none !important;
    border: none;
}

.add-task-toggle-off {
    min-height: 38px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
    color: #5e6c84;
    margin: 10px;
    border-radius: 3px;
    text-align: center;
    font-style: italic;
    font-size: large;
    display: block;
    padding-top: 0.3em;
}

.add-task-toggle-off:hover {
    background-color: rgba(9,30,66,.08);
    cursor: pointer;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none !important;
}

.my-custom-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.primary-shadow {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.custom-footer {
    font-size: large;
    background-color: #e2e4e6;
}

.task-text {
    font-size: 20px;
    color: $primary_color;
    font-weight: bold;
    
}

.add-task {
    font-size: 20px;
    color: #1E2748;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 54px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.save-button {
    cursor: pointer;
    color: $secondary_color;
    background-color: $primary_color;
    border-radius: 3px;
    padding: 10px;
    width: 50%;
}

.add-list {
    background-color: $secondary_color;
    border-radius: 3px !important;
}

.board-title {
    background-color: $primary_color;
    color: $secondary_color;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.board-selected-title {
    background-color: $secondary_color !important;
    color: $primary_color;
    font-size: 24px;
    font-weight: bold;
}

.add-board {
    background-color: $primary_color;
    border-radius: 3px !important;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 200px;

}

.add-board-input {
    color: $secondary_color;
    font-size: 20px;
    font-weight: bold;
    min-height: 30px;
    width: 100%;
    text-align: center;
    outline: none !important;
}

button {
    border: none;
    margin: 10px;
}

.primary-color {
    color: $primary_color;
}

.secondary-color {
    color: $secondary_color;
}

.tertiary-color {
    color: $tertiary_color;
}

.list-title {
    font-size: 24px;
    background-color: $secondary_color;
    color: $primary_color;
    font-weight: bold;
    padding: 0;
    border-radius: 0.3rem;
}

.add-list-input {
    color: $primary_color;
    background-color: $secondary_color;
    font-size: 20px;
    font-weight: bold;
    min-height: 30px;
    width: 100%;
    text-align: center;
    outline: none !important;
}

.main-title {
    background-color: $primary_color;
    color: $secondary_color;
    margin-bottom: 40px;
    font-weight: bold;
}

.no-shadow {
    box-shadow: none;
}

.list-content {
    height: fit-content;
    flex: 0 0 27rem;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
    padding: 0;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
}

.border-custom {
    border: none;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.margin-left {
    margin-left: 10px;
}